*{
    box-sizing: border-box;
  }

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.2;
    padding: 0px ;
    margin: 0px ;
    background-color: lightgray;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

h2 {
    font-size: 25px;
}