header {
    background-color:lightslategray;
    color: white;
    padding-top:20px;
    min-height:50px;
    border-bottom:darkgreen 3px solid;
}

header .name {
    align-self: flex-start;
    float: left;
}

header #name h1 {
    margin: 0;
}


header h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
}

header .nav {
    display: none;
}

header a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
}

header ul {
    margin: 0px;
    padding:0px;
}

header li {
    float: left;
    display: inline;
    padding: 0 25px 0 25px;
}

header .highlight, header .current a {
    color:lightgreen;
    font-weight: bold;
}

header a:hover {
    color: darkgreen;
    font-weight: bold;
}

@media(min-width:768px) {
    header .nav {
        display: inline;
        align-self: center;
        align-items: center;
    }
}    