.section2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
}

.section2 h2 {
    align-self: center;
    position: absolute;
    margin: 0px;
    padding: 0px;
    margin-top: -330px;
    margin-left: 60px;
    margin-right: 80px;
    font-size: 40px;
}

.section2 a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
}

.section2 a:hover {
    color: black;
    font-weight: bold;
}

.section2 img { 
    margin-top: 50px;
}

@media(min-width:768px) {
    .section2 {
        display: flex;
        justify-content: flex-start;
        }
}

